<div class='header'>
  <div class='nav'>
    <div class="saved-list" [ngClass]="{navHighlighter : selectedTab === 'savedList'}" (click)="setSelectedTab('savedList')">
      <mat-icon class='mat-icon-style material-icons-outlined'>list</mat-icon>
      <span>SAVED LISTS</span>
    </div>
    <div class="saved-filter" [ngClass]="{navHighlighter : selectedTab === 'savedFilter'}" (click)="setSelectedTab('savedFilter')">
      <mat-icon class='mat-icon-style material-icons-outlined'>filter_alt</mat-icon>
      <span>SAVED FILTERS</span>
    </div>
    <div class="search-history" [ngClass]="{navHighlighter : selectedTab === 'savedHistory'}" (click)="setSelectedTab('savedHistory')">
      <mat-icon class='mat-icon-style material-icons-outlined'>history</mat-icon>
      <span>SAVED HISTORY</span>
    </div>
  </div>
  <div class="search-bar">
      <input (keyup)="searchByListName($event.target.value)" type="text" class="search-text" placeholder="Search">
  </div>
</div>
<div class='body'>
  <ng-container [ngSwitch]="selectedTab">
    <ng-container *ngSwitchCase="'savedList'">
      <div class='list-view-container'>
        <mat-table #table [dataSource]="dataSource">
    
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef class='dateColumn'> Date </mat-header-cell>
            <mat-cell *matCellDef="let element" 
              [ngClass]="{'dateColumn': element.listName !== listSelectedRow, 'dateColumnHighlight': element.listName == listSelectedRow}"> 
              {{element.date | date: 'MMM dd'}} </mat-cell>
          </ng-container>
      
           <ng-container matColumnDef="listName">
            <mat-header-cell *matHeaderCellDef class='listColumn'> List Name </mat-header-cell>
            <mat-cell 
              *matCellDef="let element" 
              [ngClass]="{listColumnEntities : element.description.length > 0 , listColumnZeroEntities : element.description.length == 0}"> 
              {{element.listName}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="numOfEntities">
            <mat-header-cell *matHeaderCellDef class='entitiesColumn'> No. of Entities </mat-header-cell>
            <mat-cell *matCellDef="let element" class='entitiesColumn' > {{element.description.length}} </mat-cell>
          </ng-container>
      
           <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class='actionsColumn'> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element" class='actionsColumn'>
              <span>
                <mat-icon 
                  class='material-icons-outlined' 
                  [ngClass]="{'mat-icon-disable':!element.actions[0],
                              'mat-icon-action-style':element.actions[0],
                              'mat-icon-color':element.listName == listSelectedRow}">
                  forward_to_inbox</mat-icon>
              </span> 
              <span>
                <mat-icon 
                  class='material-icons-outlined'
                  [ngClass]="{'mat-icon-disable':!element.actions[1],
                              'mat-icon-action-style':element.actions[1],
                              'mat-icon-color':element.listName == listSelectedRow}">
                  create</mat-icon>
              </span> 
              <span>
                <mat-icon
                   class='material-icons-outlined'
                   [ngClass]="{'mat-icon-disable':!element.actions[1],
                   'mat-icon-action-style':element.actions[1],
                   'mat-icon-color':element.listName == listSelectedRow}">
                  share</mat-icon>
              </span> 
              <span>
                <mat-icon 
                  class='material-icons-outlined' 
                  [ngClass]="{'mat-icon-disable':!element.actions[1],
                              'mat-icon-action-style':element.actions[1],
                              'mat-icon-color':element.listName == listSelectedRow}">
                  delete</mat-icon>
              </span> 
            </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef class='detailColumn'> </mat-header-cell>
            <mat-cell *matCellDef="let element" 
              class="detailColumn"
              (click)='showDetails(element)' 
              [ngClass]="{'detailHighlighter': listSelectedRow === element.listName}"> Details </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'listHighlight': listSelectedRow === row.listName}"></mat-row>
        </mat-table>
      </div>
      <div class='list-item-description'>
        <div class='description-add-containter'>
          <span class='description-text'>No description yet</span>
          <span class='description-add'>+ Add Description</span>
        </div>
        <div class="description-list">
          <li *ngFor="let description of descriptions">{{description}}
        </li>    
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'savedFilter'">
      <div class='list-view-savedFilter'>
        <p>Nothing to display</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'savedHistory'">
      <div class='list-view-savedHistory'>
        <p>Nothing to display</p>
      </div>
    </ng-container>
  </ng-container>

</div>
