

/* page reset parameter configuration */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: 'Lato', sans-serif;
}
::ng-deep :root {
    --nav-bar-height: 60px;
    --list-view-theme-bg-color: #f2f2f2;
    --text-theme-color: #002b42;
  }

.header{
    align-items: center;
    background-color: var(--list-view-theme-bg-color);  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--nav-bar-height);
    width: 100%;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: var(--nav-bar-height);
    width: 35%;
}

.saved-list, .saved-filter, .search-history {
    align-items: center;
    color: black;
    display: flex;
    padding: 10px;
}

.nav-highlighter {
    background-color: var(--text-theme-color);
    border: none;
    color: white;
}

.mat-icon-style {
    color: inherit;
    margin-right:10px;
}

.mat-action-icon-style {
    color: #c9c9c9;
    margin-right:10px;
}

.mat-icon-disable {
    margin-right:10px;
    visibility: hidden;
}

.search-text {
    align-items: flex-end;
    background: white;
    border: solid 1px #cfcaca;
    height: 60%;
    margin-right: 20px;
    text-indent: 15px;
    width: 25%;
}

.search-text:focus {
    border: solid 1px #58b6eb;
}

.search-text:focus {
    outline: 0;
}

                                            /* End of header section */

.body {
    display: flex;
}

.list-view-container {
    height: 500px;
    overflow-y: auto;
    width: 70%;
}

.list-item-description {
    height: 500px;
    overflow-y: auto;
    width: 30%;
}

.description-add-containter {
    background-color:var(--list-view-theme-bg-color);
    margin: 20px;
    height: 50px;
    position: sticky;
    top: 0;
}

.description-text {
    display: inline-block;
    margin: 15px 0px 15px 20px;
    color: black;
}

.description-add {
    color: var(--text-theme-color);
    display: inline-block;
    font-weight: 900;
    margin: 15px 0px 15px 20px;
}

.description-list {
    height: 100% - 80px;
    margin: 20px;
}

li {
    color: var(--text-theme-color);
    list-style: none;
    margin: 10px;
    margin-bottom: 20px 
}

.list-highlight {
    background-color: var(--list-view-theme-bg-color);
}

.column-header {
    color:#8c8b8b;
    font-weight: 600;
}

.table-row {
    border-bottom: solid 1px #cfcaca;
}
.date-column-cell {
    flex: 1;
    color: #c9c9c9;
    font-weight: 500;
}

.date-column {
    flex: 1;
}

.date-column-highlight {
    color: black; 
    flex: 1;
}

.list-column {
    flex: 5;
}

.list-column-entities {
    color:black;
    flex: 5;
    font-weight: bold;
    font-size: 15px;
}

.list-column-zero-entities {
    color: #58b6eb;
    flex: 5;
    font-weight: bold;
    font-size: 15px;
}
.entities-column {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    margin-right: 50px;
}

.actions-column {
    flex: 2;
}

.mat-icon-color-on-selected {
    color:black;
}

.detail-column {
    /* display: inline-block; */
    border-bottom: solid 4px white;
    cursor: pointer;
    flex: 1;
    padding: 5px;
    text-align: center;
    color: var(--text-theme-color);
}
.detail-highlighter {
    background-color: white;
    border-bottom: solid 4px  var(--text-theme-color);
    font-weight: bold;
}

.list-view-savedFilter ,.list-view-savedHistory{
    font-size: 50px;
    height: 100%;
    text-align: center;
    width: 100%;
}

.list-view-container::-webkit-scrollbar, .list-item-description::-webkit-scrollbar {
    width: 10px;
}
 
.list-view-container::-webkit-scrollbar-track, .list-item-description::-webkit-scrollbar-track{
    background: var(--list-view-theme-bg-color); 
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.list-view-container::-webkit-scrollbar-thumb, .list-item-description::-webkit-scrollbar-thumb {
    background: #acacac; 
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



